
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Created Question</title>
</head>
<body>
<center>
    <h1> Thank you for your question !</h1>
</center>
</body>
</html>
